@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Oswald&family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&family=Oswald&family=Poppins:wght@300;600&family=Rubik+Doodle+Shadow&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #000000;
}
html{
  font-size: medium;
}


@media(max-width:1517px){
  html{
    font-size: 95%;
  }
}
@media(max-width: 1414px){
  html{
    font-size: 90%;
  }
}
@media(max-width: 1345px){
  html{
    font-size: 85%;
  }
}
@media(max-width: 1270px){
  html{
    font-size: 80%;
  }
}
@media(max-width: 1200px){
  html{
    font-size: 75%;
  }
}
@media(max-width: 1130px){
  html{
    font-size: 70%;
  }
}
@media(max-width: 1048px){
  html{
    font-size: 65%;
  }
  .photo img{
    margin-bottom: 20vh;
  }
}
@media(max-width: 990px){
  html{
    font-size: 60%;
  }
}

@media only screen and (max-width: 768px) {
  /* Adjust styling for smaller screens */
  .container2 {
      flex-direction: column;
  }

  .navbar {
      flex-direction: column;
  }

  .navbar a {
      text-align: center;
  }
}

/*------------------------------HEADER------------------------------*/


.container {
  display: flex;
  background-color: black;
  padding: 6.5vh;
  padding-left: 3.5vw;
  padding-bottom: 5vh;
  top: 0;
}

.nav_name a {
  color: white;
  font-family: 'Rubik Doodle Shadow', sans-serif;
}

.nav_name a:hover {
  color: #bfc500;

}


.navbar {
  color: white;
  padding-left: 25vw;
}

.navbar a:hover {
  color: #bfc500;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 2rem;
}

.nav_name a {
  text-decoration: none;
  color: white;
}

.navbarlogos a img {
  width: 1.6rem;
  padding-left: 2rem;
}

@keyframes grow-progress {
  from {
      transform: scaleX(0);
  }

  to {
      transform: scaleX(1);
  }
}

#progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.35vh;
  background: #bfc500;

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: scroll();
}


/*------------------------------CONTENT------------------------------*/

.container2 {
  display: flex;
  padding-top: 4vh;
}


.container2 {
  background-color: rgb(60, 58, 62);
  height: auto;
}

.introduction {

  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 20vh;
  margin-bottom: 20vh;
  margin-left: 5vw;
  margin-right: 15vw;
}

.photo img {
  width: 32vw;
  height: 32vw;
  border-radius: 12%;
  margin-bottom: 12vh;
}

/*------------------------------FOOTER------------------------------*/
.container3 {
  font-size: small;
  flex-direction: row;
  background-color: #000000;
  color: #bfc500;
  width: auto;
  height: auto;
}

.footerfirst {
  display: flex;
  padding-bottom: 1vh;
}

.footer1 {
  font-weight: bold;
  padding-top: 4vh;
  font-size: medium;
  width: auto;
  text-align: center;
  padding-left: 10vw;
  font-family: math;
  padding-right: 13vw;
}

.footer2 {
  padding-top: 2vh;
  width: auto;
  padding-left: 8vw;
}

.footer3 {

  width: auto;
  padding-left: 10vw;

  padding-top: 4.5vh;
}

.footer2 a {
  text-decoration: none;
  color: #bfc500;
}

.footer2 a:hover {
  color: white;
}

.footerlast {
  text-align: center;
}



/*------------------------------IMPORTANT------------------------------*/



.type {
  width: 100%;
  animation: typing 5s steps(55), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


@keyframes reveal {
  from {
    opacity: 0;
    clip-path: inset(0% 60% 0% 50%);
  }

  to {
    opacity: 1;
    clip-path: inset(0% 0% 0% 0%);
  }
}

.revealing-image {
  animation: auto linear reveal both;
  animation-timeline: view();
  animation-range: entry 25% cover 50%;
}


@keyframes grow-progress {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

#progress {
  position: fixed;
  left: 0;
  top: 1;
  width: 100%;
  height: 0.35vh;
  background: #bfc500;

  transform-origin: 0 50%;
  animation: grow-progress auto linear;
  animation-timeline: scroll();
}


@keyframes animate-in-and-out {
  entry 0% {
    opacity: 0;
    transform: translateY(100%);
  }

  entry 100% {
    opacity: 1;
    transform: translateY(0);
  }

  exit 0% {
    opacity: 1;
    transform: translateY(0);
  }

  exit 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

#list-view li {
  animation: linear animate-in-and-out;
  animation-timeline: view();
}


#grow {
  transition: 0.8s;
}

#grow:hover {
  transform: scale(1.1);
}